name: Deploy to Server

on:
  push:
    branches: [ develop ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Deploy to server
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.PYBEX_SAAS_DEV_MUM_SSH }}
        script: |
          cd ~/projects/pybex/abhirang
          docker compose down
          git pull
          docker compose up --build -d
